<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Администрирование</title>
    {% block additional-css %}
    {% endblock %}
    <link href="/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="/css/components.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/icons.css" type="text/css"/>
    <link href="/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icon.css" rel="stylesheet">

    <script src="/js/modernizr.min.js"></script>

</head>


<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="{% url 'view-account' %}" class="logo"><i class=" icon-compass icon-c-logo"></i>
                    <span>Трансформатор</span></a>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left">
                            <i class="ion-navicon"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light">
                                <i class="icon-size-fullscreen"></i>
                            </a>
                        </li>
                        <li><a href="{% url 'view-profile' %}"><i class="ti-user m-r-5"></i> {{ user.username }}</a></li>
{#                        <li><a><i class="ti-settings m-r-5"></i> Настройки</a></li>#}
                        <li><a href="{% url 'view-logout' %}" ><i class="ti-power-off m-r-5"></i> Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>

                    <li class="text-muted menu-title">Ваш профиль</li>

                    <li><a href="{% url 'view-account' %}"
                           class="waves-effect {% block activate-home %} {% endblock %}">
                        <i class=" ti-ruler"></i> История активности</a>
                    </li>


                    <li class="has_sub">
                        <a href="#" class="waves-effect{% block activate-management %} {% endblock %}"><i class="md md-search"></i> <span> Управление БД </span>
                        </a>
                        <ul class="list-unstyled">
                            <li class="{% block activate-create %} {% endblock %}"><a href="{% url 'view-create-user' %}">Создать пользователей</a></li>
                            <li class="{% block activate-removal %} {% endblock %}"><a href="{% url 'view-remove' %}">Удаление БД</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="#" class="waves-effect {% block activate-follow %} {% endblock %}">
                            <i class="ion-arrow-graph-up-right"></i>
                            <span> Отслеживать Ваши БД </span> </a>
                        <ul class="list-unstyled">
                            <li class="{% block activate-manage %} {% endblock %}"><a href="{% url 'view-add-mongo-agent' %}">
                                Следить за новой БД</a>
                            </li>
                            <li class="{% block activate-graphs %} {% endblock %}"><a href="{% url 'view-graphs' %}">Графики
                                активности</a></li>
                            <li><a href="#">Активность пользователей</a></li>
                        </ul>
                    </li>

                    <li class="text-muted menu-title">Трансляция БД</li>
                    <li><a href="{% url 'view-choose-ports' %}"
                           class=" waves-effect {% block activate-translation %} {% endblock %}">
                        <i class="ti-export"></i> Добавить новые БД для трансляции</a>
                    </li>
                    <li><a href="{% url 'view-choose-tables' %}"
                           class="waves-effect {% block activate-exist %} {% endblock %}">
                        <i class="ti-rocket"></i>  Транслировать добавленные БД</a>
                    </li>


                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% block right-content %}
    {% endblock %}
    <footer class="footer text-right">
        © 2016
    </footer>
</div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/detect.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>

<script src="/plugins/switchery/dist/switchery.min.js"></script>

<script src="/js/jquery.core.js"></script>
<script src="/js/jquery.app.js"></script>

<script src="/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="/pages/jquery.sweet-alert.init.js"></script>


{% block additional-scripts %}
{% endblock %}

</body>
</html>