{% extends 'internal/base-account.html' %}
{% load widget_tweaks %}
{% block additional-css %}
    <link href="/plugins/switchery/dist/switchery.min.css" rel="stylesheet"/>
{% endblock %}

{% block activate-management %} active{% endblock %}
{% block activate-create %} active{% endblock %}


{% block right-content %}
    <div class="content-page">
        <div class="content">
            <div class="container">
                <h4 class="m-h-40 header-title"><b>Создание нового пользователя MongoDB</b></h4>

                <div class="card-box">
                    <form class="form-horizontal" action={% url 'view-create-user' %}>
                        <div class="row">
                            <div class="form-group clearfix">
                                <p class="m-h-30 header-title"></p>


                                <div class="col-lg-10">
                                    <div class="form-group clearfix">
                                        <label class="col-lg-4 control-label" for="mo-name"> Выберите MongoDB
                                        </label>

                                        <div class="input-field col-lg-8">
                                            <select id="mo-name" class="form-control select2">
                                                <option></option>
                                                {% for x in all_mongos %}
                                                    <option value="{{ x.pk }}">
                                                        {{ x.db_name }}
                                                    </option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="control-label col-lg-4 " for="user-name"> Имя пользователя
                                        </label>

                                        <div class="col-lg-8">
                                            <input id="user-name" name="user-name" type="text"
                                                   class="required form-control">

                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="col-lg-4 control-label" for="user-password">Пароль
                                        </label>

                                        <div class="col-lg-8">
                                            <input id="user-password" name="user-password" type="password"
                                                   class="required form-control">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="col-lg-4 control-label" for="read-only"> Имеет только права на
                                            чтение
                                        </label>

                                        <div class="col-lg-8 switchery-demo">
                                            <input id='read-only' class="read-only" type="checkbox"
                                                   data-plugin="switchery"
                                                   data-color="#f05050"/>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-md-12 text-right">
                                            <div class="col-md-5 col-md-offset-7">
                                                <button type="button" id="create-user"
                                                        class="btn btn-block btn-success waves-effect waves-light">
                                                    <h5 class="text-white"><i class="fa fa-check"></i>
                                                        Создать </h5>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional-scripts %}
    <script>
        $(document).ready(function () {
            $('#create-user').click(function () {
                var selectedDb = $('#mo-name option:selected').val();
                var newUser = $('#user-name').val();
                var newPass = $('#user-password').val();
                var is_checked = $('#read-only').prop("checked");

                if ((selectedDb != "") && (newUser != "") && (newPass != "")) {
                    $.post('/create-user/',
                            JSON.stringify({
                                'db_key': selectedDb,
                                'new_user': newUser,
                                'new_pass': newPass,
                                'is_read_only': is_checked
                            }), function (data) {
                                if (data['status'] == 'ok') {
                                    swal("Пользователь успешно создан");
                                } else {
                                    swal("Произошла ошибка");
                                }
                            });
                } else {
                    swal("Все поля обязательны для заполнения");
                }
            });
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
{% endblock %}