{% extends 'internal/base-account.html' %}
{% block additional-css %}
    <link rel="stylesheet" href="/plugins/morris/morris.css">
{% endblock %}
{% block activate-follow %}
    active
{% endblock %}
{% block activate-graphs %}
    active
{% endblock %}

{% block right-content %}

    <div class="content-page">
        <div class="content">
            <div class="container">
                <p class="text-muted m-b-50 font-13 m-h-50"></p>
                <p class="text-muted m-b-30 font-13 m-h-30"></p>
                <div class="card-box">

                    <div class="row">
                        <div class=" col-lg-12">
                            <div class="text-center ">
                            <h3 class="m-b-20"> Скачайте приложение, чтобы следить за вашей MongoDB</h3>
                        </span>
                            </div>
                            <div class="col-md-offset-5 col-lg-offset-5 widget-bg-color-icon">
                                <div class="bg-icon bg-icon-success pull-center">
                                    <i class="text-center md  icon-arrow-down-circle text-success"></i>
                                </div>
                            </div>
                            <p class="text-muted m-b-20 font-13 m-h-10"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional-scripts %}
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/pages/morris.init.js"></script>
{% endblock %}