{% extends 'internal/base-account.html' %}
{% block additional-css %}
    <link rel="stylesheet" href="/plugins/morris/morris.css">
{% endblock %}
{% block activate-follow %}
    active
{% endblock %}
{% block activate-graphs %}
    active
{% endblock %}

{% block right-content %}


{% endblock %}

{% block additional-scripts %}
    <script src="/plugins/morris/morris.min.js"></script>
    <script src="/plugins/raphael/raphael-min.js"></script>
    <script src="/pages/morris.init.js"></script>
{% endblock %}