{% extends 'internal/base-account.html' %}

{% block activate-follow %}
    active
{% endblock %}
{% block activate-manage %}
    active
{% endblock %}

{% block right-content %}

    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="container">

                    <div class="col-lg-8 col-lg-offset-2 card-box">

                        <div class="row">
                            <div class=" col-lg-12">
                                <div class="row">
                                    {% if download %}
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <h3 class="m-b-20"> Сохраните необходимый проект</h3>
                                            </div>
                                            <div class="text-center">
                                                <code>git clone https://github.com/ValerGit/mongoAgent.git</code>
                                            </div>
                                        </div>


                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-12 card-box">
                                            <div class="row">
                                                <div class="col-lg-offset-1">
                                                    <div class="text-center">
                                                        <h3 class="m-b-20">Порядок действий после скачивания</h3>
                                                    </div>
                                                    <h4>1. Установите <a
                                                            href="https://api.mongodb.org/python/current/installation.html">pyMongo</a>
                                                    </h4>

                                                    <h4>2. Установите <a
                                                            href="http://docs.python-requests.org/en/master/user/install/">
                                                        python-requests </a></h4>
                                                    <h4>3. Измените файл config.py так, чтобы он выглядел следующим
                                                        образом</h4>

                                                    <div class="col-lg-offset-2">
                                                        <p>
                                                            conf = {

                                                        <p># access token

                                                        <p>
                                                            <mark>'token': '{{ token }}',</mark>

                                                        <p># mongodb access url

                                                        <p>
                                                            <mark>'url': '{{ address }}',</mark>

                                                        <p># mongodb db name

                                                        <p>
                                                            <mark>'db': '{{ db_name }}',</mark>

                                                        <p># metrics interval in seconds

                                                        <p>'interval': 5,

                                                        <p># metric host url

                                                        <p>'metric_url': 'http://localhost/send-metric/',

                                                            }
                                                        </p>
                                                    </div>
                                                    <h4>4. Запустите agent.py </h4>

                                                    <div class="col-lg-offset-2">
                                                        <code>nohup python agent.py & > nohup.out</code>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="text-center ">
                                            <h3 class="m-b-20"> Выберите инстересующую MongoDB</h3>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="col-lg-offset-2">
                                                <div class="form-group clearfix">
                                                    <label class="col-lg-4  control-label" for="mo-name">
                                                        MongoDB
                                                    </label>

                                                    <div class="input-field col-lg-5">
                                                        <select id="mo-name" class="required form-control select2">
                                                            <option></option>
                                                            {% for x in all_mongos %}
                                                                <option value="{{ x.pk }}">
                                                                    {{ x.db_name }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <div class="col-md-3 col-md-offset-4">
                                                    <button type="button" id="choose-db"
                                                            class="btn btn-block btn-success waves-effect waves-light">
                                                        <h5 class="text-white"><i class="fa fa-check"></i>
                                                            Выбрать </h5>
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                        </div>
                                        <p class="text-muted m-b-20 font-13 m-h-10"></p>
                                        </div>
                                        </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional-scripts %}
    <script>
        $(document).ready(function () {
            $("#choose-db").click(function () {
                var selectedDb = $('#mo-name option:selected').val();
                if (selectedDb != "") {
                    $.get('/add-mongo-agent/?db_id=' + selectedDb, function (data) {
                        if (data['status'] == 'bad') {
                            swal("Данной БД не существует!");
                        }
                        else {
                            window.location = '/add-mongo-agent/?db_id=' + selectedDb;
                        }
                    });
                } else {
                    swal("Пожалуйста, выберите БД");
                }
            });
        });
    </script>
{% endblock %}