{% extends 'internal/base-account.html' %}

{% block activate-management %} active{% endblock %}
{% block activate-removal %} active{% endblock %}

{% block additional-css %}
    <link href="/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block right-content %}
    <div class="content-page">
        <div class="content">
            <div class="container">
                <h4 class="m-h-40 header-title"><b> Ваши Базы данных в ИС ТБД</b></h4>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <table id="datatable" class="table table-striped ">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Пользователь</th>
                                    <th>Хост</th>
                                    <th>Дата добавления</th>
                                    <th>Тип БД</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for x in all_dbs %}
                                    <tr>
                                        <td>{{ x.db_name }}</td>
                                        <td>{{ x.db_user }}</td>
                                        <td>{{ x.db_address }}</td>
                                        <td>{{ x.date_added }}</td>
                                        <td>{{ x.type }}</td>
                                        <td class="text-center">
                                            <button id="delete-btn" type="button" value="{{ x.pk }}"
                                                    class="btn btn-danger waves-effect waves-light">
                                                   <span><i class="fa fa-times"></i>
                                                   </span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block additional-scripts %}

    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            var del_btn = $('*[id*=delete-btn]:visible');

            $(del_btn).each(function () {
                $(this).click(function () {
                    var table_id = $(this).val();
                    swal({
                        title: "Вы уверены?",
                        text: "У Вас не будет возможности восстановить данную БД",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Да, удалить!",
                        closeOnConfirm: false
                    }, function () {
                        $.post("/remove/", JSON.stringify({'status': 'ok', 'table': table_id}),
                                function (data) {
                                    if (data['status'] == 'bad') {
                                        swal("Произошла внутренняя ошибка. Обратитесь в техническую поддержку");
                                    } else {
                                        swal("Удалено!", "", "success");
                                        $(".sa-confirm-button-container").click(function () {
                                            location.reload();
                                        });
                                    }
                                });
                    });
                });
            });

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
{% endblock %}
