.parallax-container {
    height: 377px;
}


html {
    min-width: 1200px;
}

body {
    min-width: 1200px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.special-font {
    font-family: "Roboto", sans-serif;
}

main {
    flex: 1 0 auto;
}

/*.input-field label {*/
    /*color: #388e3c ;*/
/*}*/

.hotLinks {
    font-size: 35px;
    color: #9e9e9e;
}

.hotLinks.active {
    color: #388e3c ;
}

.input-field input[type=password]:focus {
    border-bottom: 2px solid #388e3c ;
    box-shadow: 0 1px 0 0 #388e3c ;
}

.input-field input[type=password]:focus + label {
    color: #388e3c ;
}

.input-field input[type=email]:focus {
    border-bottom: 2px solid #388e3c ;
    box-shadow: 0 1px 0 0 #388e3c ;
}

.input-field input[type=email]:focus + label {
    color: #388e3c ;
}

.input-field input[type=text]:focus {
    border-bottom: 2px solid #388e3c ;
    box-shadow: 0 1px 0 0 #388e3c ;
}

/*.input-field input[type=text]:focus + label {*/
    /*color: #388e3c ;*/
/*}*/

.material-icons i {
    color: black;
}

::-webkit-input-placeholder {
    color: black;
}

.row {
    margin-bottom: 10px;
}

/*textarea.materialize-textarea:focus:not([readonly]) {*/
    /*border-bottom: 2px solid #e91e63;*/
    /*box-shadow: 0 1px 0 0 #e91e63;*/
/*}*/

/*textarea.materialize-textarea:focus:not([readonly]) + label {*/
    /*color: #e91e63;*/
/*}*/

/*.input-field input[type=search]:focus {*/
    /*background-color: #e91e63;*/
    /*border: 0;*/
    /*box-shadow: none;*/
    /*color: black;*/
/*}*/

.pagination li.active {
    background-color: #e91e63;
}

.starclass {
    margin-top: 10px;
    color: #bdbdbd;
}

.starclass.active {
    color: #e91e63;
}

.checkBox.active {
    color: #e91e63;

}

.pictureSize {
    height: 63px;
    width: 63px
}

.avatar {
    height: 75px;
    width: 75px;
}

.navSize {
    height: 64px;
}

.navMultiRow {
    height: 64px;
    margin: -10px;
}

.navRow {
    height: 25px;
    margin: 0px;
}

.navMargin {
    margin-right: 20px;
}

.rightText {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica;
}

.forTags {
    margin-right: 20px;
    margin-left: 10px;
}

.topBlocks {
    margin-top: 30px;
}

.insideCardPict {
    margin-top: 20px;
    margin-left: 10px;
}

.forLikes {
    margin-left: 20px;
}

.newAcc {
    margin-left: 75px;
    margin-top: 50px;
}

[type="checkbox"]:checked + label:before {
    border-bottom: 2px solid #4caf50;
    border-right: 2px solid #4caf50;
}

.registration {
    font-size: 35px;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica;
    color: black;
}

.wrongInput {
    font-size: 25px;
    color: #b71c1c;
}

.forLogo {
    left: 20px;
}

.spacer {
    height: 20px;
    width: 1200px
}

.material-icons {
    font-size: 30px
}

.mongo {
    height: 235px;
}

