{% extends "base-account.html" %}
{% block additional-css %}
    <link href="/plugins/custombox/dist/custombox.min.css" rel="stylesheet"/>

    <link href="/plugins/switchery/dist/switchery.min.css" rel="stylesheet"/>
{% endblock %}

{% block right-content %}

    <div class="content-page">
        <div class="content">
            <div class="container">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="m-t-0 m-b-30 header-title"><b> Структура конвертации </b></h3>
                        </div>
                    </div>
                </div>

                {% if need_db_choose %}
                    <p class="text-muted m-b-40 font-13 m-h-40"> Выберите MySQL БД для конвертации</p>
                    <div class="row">
                        <div class="col-md-8">
                            <select id="from-db" class="form-control select2">
                                {% for x in all_mysql %}
                                    <option value="{{ x.id }}">
                                        {{ x.db_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <p class="text-muted m-b-20 font-13 m-h-20"></p>
                    <p class="text-muted m-b-40 font-13 m-h-40"> Выберите MongoDB </p>
                    <div class="row">
                        <div class="col-md-8">
                            <select id="to-db" class="form-control select2">
                                {% for x in all_mongos %}
                                    <option value="{{ x.id }}">
                                        {{ x.db_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <p class="text-muted m-b-20 font-13 m-h-50"></p>
                    <div class="col-md-5 col-md-offset-3">
                        <button type="button" id="set-dbs"
                                class="btn btn-block btn-success waves-effect waves-light">
                            <h5 class="text-white"><i class="fa fa-check"></i>
                                Выбрать </h5>
                        </button>
                    </div>
                {% else %}
                    <div class="col-md-2 col-md-offset-3">
                        <tbody>
                        <tr>
                            <td>
                                <a href="#custom-modal" data-animation="door" data-plugin="custommodal"
                                   data-overlaySpeed="100" data-overlayColor="#36404a">
                                    <button type="button"
                                            class="btn btn-inverse btn-custom waves-effect waves-light">
                                        Подсказка
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </div>

                    <p class="text-muted m-b-40 font-13 m-h-40"> Выберите таблицы для конвертации</p>

                    <div class="box">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="font-13 m-h-20"> Название таблицы </p>
                            </div>
                            <div class="col-md-3">
                                <p class="font-13 m-h-20"> Вложенная таблица </p>
                            </div>
                            <div class="col-md-2 ">
                                <p class="font-13 m-h-20"> Вторичный ключ на волженную таблицу </p>
                            </div>
                            <div class="col-md-2">
                                <p class="font-13 m-h-20"> Поле по которому таблица вложена </p>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted m-b-20 font-13 m-h-20"></p>

                    <div class="input_fields_wrap">
                        <div class="row">
                            <div class="col-md-3">
                                <select class="form-control select2" name="p_scnt">
                                    <option></option>
                                    <option>Форум</option>
                                    <option>Select2</option>
                                </select>
                            </div>
                            <div class="col-md-1 switchery-demo">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#f05050"/>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control select2">
                                    <option></option>
                                    <option>Пользователь</option>
                                    <option>Select2</option>
                                </select>
                            </div>
                            <div class="col-md-2 ">
                                <select class="form-control select2">
                                    <option></option>
                                    <option>id создателя</option>
                                    <option>Select2</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control select2">
                                    <option></option>
                                    <option>id пользователя</option>
                                    <option>Select2</option>
                                </select>
                            </div>
                            <button type="button"
                                    class="btn btn-danger btn-custom btn-xs btn-rounded waves-effect waves-light remove_field">
                                <i class="ion-minus"></i>
                            </button>
                        </div>
                    </div>

                    <p class="text-muted m-b-20 font-13 m-h-20"></p>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-8 btnCnt">
                            <button type="button"
                                    class="btn btn-block btn-success btn-custom btn-rounded waves-effect waves-light add_field_button">
                                <h5><i class="ion-plus"> Добавить таблицу</i></h5>
                            </button>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-5 col-md-offset-3">
                        <button type="button"
                                class="btn btn-block btn-success waves-effect waves-light">
                            <h5 class="text-white"><i class="fa fa-check"></i>
                                Конвертировать </h5>
                        </button>
                    </div>
                {% endif %}
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">Пример трасляции</h4>
        <img src="/images/tutor.png" alt="image" class="img-responsive">

        <div class="custom-modal-text">
            Если необходимо выбрать всю информацию о форумах и их создателях, то возможна следующая структура
            построения таблиц в MongoDB - вторичным ключом таблицы форумы на таблицу пользователей
            будет являться «id создателя» и по нему будет выбрана соответствующая запись (id пользователя = id
            создателя)
        </div>
    </div>

{% endblock %}


{% block additional-scripts %}
    <!-- Modal-Effect -->
    <script src="/plugins/custombox/dist/custombox.min.js"></script>
    <script src="/plugins/custombox/dist/legacy.min.js"></script>

    <!-- My-script -->
    <script src="/js/script.js"></script>

{% endblock %}