{% extends "base.html" %}
{% block main %}
    <div class="spacer"></div>
    <div class="row ">
        <div class="col s6 offset-s2">
            <div class="row">
                <a class="registration">Регистрация</a>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col s4 offset-s1">
                <div class="input-field col s12">
                    <input id="input_text" type="text" length="10">
                    <label for="input_text">Имя пользователя</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1 ">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Ваш e-mail</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1 ">
                <div class="input-field col s12">
                    <input id="input_text" type="text" length="15">
                    <label for="input_text">Название организации</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Пароль
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s1">
                <div class="input-field col s12">
                    <input id="passcheck" type="password" class="validate">
                    <label for="passcheck">Подтверждение пароля</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 offset-s2">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light green darken-1" type="submit" name="action">
                        <a href="#" class="white-text">Зарегестрироваться
                            <i class="material-icons right">done</i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}